@import "../../../variable.scss";

.navbar {
  background: $color-primary;

  .logo {
    width: 140px;
  }

  .nav-link {
    color: $color-text-inverted;
    transition: color 0.2s ease-in-out;

    &.active {
      font-weight: bold;
      color: $color-accent;
    }

    &:hover {
      color: $color-accent;
    }
  }

  .dropdown-menu {
    border-radius: 0.25rem;
    background: $color-secondary;
    color: $color-text-inverted;

    .dropdown-item {
      color: $color-text-inverted;
      &:hover {
        background: $color-accent;
        color: $color-primary;
      }
    }
  }

  .search-bar {
    display: flex;
    align-items: center;
    max-width: 300px;

    input {
      border-radius: 0.5rem 0 0 0.5rem;
      border: none;
      padding: 0.5rem;
      flex-grow: 1;
    }

    button {
      border-radius: 0 0.5rem 0.5rem 0;
      border: none;
      background: $color-accent;
      color: $color-primary;
      padding: 0.5rem 1rem;

      &:hover {
        background: $color-accent-hover;
      }
    }
  }

  .dropdown-toggle {
    border-radius: 0.5rem;
    margin-left: 1rem;
  }
}
