// Kolory bazowe
$color-primary: #2c3e50; // Główny kolor brandingu (np. tło nawigacji)
$color-text-inverted: #ffffff; // Kolor tekstu na ciemnym tle
$color-secondary: #34495e; // Kolor dodatkowy (np. tło dropdownów)
$color-accent: #f1c40f; // Kolor akcentujący (np. dla hoverów, przycisków)
$color-accent-hover: #d4ac0d; // Wersja koloru akcentującego po najechaniu

// Tła
$background-primary: #ffffff; // Podstawowe tło kart, sekcji
$background-secondary: #f9f9f9; // Jasne tło dla obszarów strony

// Cienie
$shadow-light: rgba(0, 0, 0, 0.1); // Delikatny cień dla kart i elementów

// Kolory tekstu
$color-text-primary: #2c3e50; // Podstawowy kolor tekstu
$color-text-secondary: #7f8c8d; // Kolor tekstu pomocniczego, np. opisy, placeholdery
