<div class="full-page-overlay">
  <div class="login-container">
    <h1 class="login-header">Log In</h1>
    <form (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="email" class="form-label">Email Address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Enter your email"
          [(ngModel)]="email"
          name="email"
          required
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Enter your password"
          [(ngModel)]="password"
          name="password"
          required
        />
      </div>
      <button type="submit" class="btn login-btn">Log In</button>
    </form>
  </div>
</div>
